@import url("normalize.css");


body {
  padding:135px 0 0 0;
  font: normal 20px Helvetica, Arial, sans-serif;
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
  text-align: center;
  color: #45494d;
}

header, main, footer{
  display: block;
  text-align: center;
}

header h1 {
  margin: 0 0 115px 0;
}

main {
  width: 1000px;
  margin: 0 auto;
  padding: 100px 0 0 0;
  text-align: center;
  background: #ffffff;
}

h2 {
  padding: 0 0 40px 0;
  font-size: 36px;
  font-weight: 600;
}

h2:before,
h2:after {
  display: inline-block;
  padding: 0 24px;
  font-size: 30px;
  content: "\2022";
  vertical-align: 5px;
}

h3 {
  font-size: 24px;
  color: #3e59b2;
  padding: 0 0 20px 0;
}

article {
  padding: 0 0 100px 0;
}

nav {
  padding: 0 0 45px 0;
  font-size: 26px;
  text-transform: uppercase;
}

nav li {
  display: inline;
  padding: 0 42px;
}

nav a {
  color: #cacaca;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  color: #6db9ff;
}

.column {
  padding: 0 110px 100px 110px;
}

footer {
  background: #e7e7e7;
  padding: 80px 0;
  color: #b2b2b2;
}

footer p {
  padding: 0 0 35px 0;
}


footer li {
  display: inline-block;
  padding: 0 62px;
}

footer li a {
  display: block;
  width: 46px;
  height: 46px;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}

footer li a.facebook { background-position: 0 -46px;}
footer li a.email { background-position: 0 -92px;}
footer li a.instagram {background-position: 0 100%;}
